<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/my-image.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
        <h5 id="prof">FullStack Developer Jr</h5>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy de Quilmes, Buenos Aires, tengo 31 años y actualmente me encuentro trabajando en una empresa de software llamada Maxirest, en el rol de Especialista IT. Me gusta mirar películas, el fútbol y andar en bicicleta, y en mis ratos libres aprovecho a jugar videojuegos o estudiar por mi propia cuenta. Espero que les guste mi porftolio, sigan bajando para leer más sobre mi.</p>
        </span>
    </div>
</div>
